{% extends 'navv.html' %}
{% block title %}
login
{% endblock %}

{% block body %}
    <form action="updateans/{{ answer.aid }}" method="post" class="form-group" >
    {% csrf_token %}
    <hr>
    <h2 style="padding-left: 40%">Update Answer</h2>
    <hr>
     <div>
    {% for message in messages %}

    <h6>* {{message}}</h6>
    {% endfor %}
</div>

    <div class="inputBox" >
        <h5 class="w3-text-white" > *Enter  Answer</h5>
        <input class="form-control" type="text" name="desc" value="{{ answer.desc }}">
{#        <textarea name="desc" cols="40" rows="5"></textarea>#}
    </div>
    <br>

    <div>
        <input type="submit" value="Update Answer">
    </div>
</form>
{% endblock %}
