{% extends 'navv.html' %}
{% block title %}
login
{% endblock %}

{% block body %}

    <hr>
    <h2 style="padding-left: 40%">User Registration Form</h2>
<hr>

<form action="signup" method="post" class="form-group" style="width: 50%">
    {% csrf_token %}

     <div>
    {% for message in messages %}

    <h6 class="w3-text-white w3-center w3-border-top w3-border-bottom w3-border-white">* {{message}}</h6>
    {% endfor %}
</div>
    <div class="inputBox">
    <h5 >*Enter Email :</h5>
        <input type="email" name="email" placeholder="email" class="form-control"></div>
    <div class="inputBox">
    <h5 >*Enter password :</h5>
        <input type="password" name="password1" placeholder="password" class="form-control"></div>
    <div class="inputBox">
    <br>
    <input type="submit" class="w3-button" value="Sign up">
    </div>
</form>

{% endblock %}